@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.testimonial {
  background: linear-gradient(65deg, #7241c6, #8459ce);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.info {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slope {
  position: relative;
  height: 100px;
  background-color: #f8f9fa;
}

.slope::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 80px;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-animation {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 3s steps(20) infinite, blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.PaymentMethods {
  text-align: center;
background-color: #ffffff;

}


.payment-network {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.central-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.central-circle {
  width: 60px;
  height: 60px;
  background-color: #4a90e2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #eee;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

/* Styling for connecting lines */
.line {
  position: absolute;
  height: 2px;
  background-color: #4a90e2;
  top: 50%;
  left: 50%;
  transform-origin: left center;
}


.testimonial-card {
  opacity: 0;
  transform: translateX(50px); /* Cards start from off-screen */
  transition: opacity 0.7s ease-out, transform 0.7s ease-out; /* Animate opacity and translation */
}

/* Slide-in animation that happens once the animationStarted is true */
.testimonial-card.slide-in {
  opacity: 1;
  transform: translateX(0); /* Move cards to their final position */
}
